.container {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: Arial, "Helvetica Neue", sans-serif;
}

canvas {
  max-width: 95%;
  max-height: 95%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.control-pane {
  position: absolute;
  display: flex;
  justify-content: center;

  .level-choice {
    display: none;
  }

  .level-choice,
  .algo-choice {
    background: white;
    mat-form-field {
      width: 120px;
      height: 60px;
      padding: 0px 5px;
    }
  }
}

.banner {
  position: absolute;
  bottom: 0;
  padding: 20px 0px;
  width: 100%;
  background: cadetblue;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  opacity: 0;
  z-index: 0;
  transition: opacity .3s linear;

  &.visible {
    opacity: 0.9;
    z-index: 2;
  }

  .options {
    .icon {
      font-size: 30px;
      margin-top: 3px;
      padding-left: 20px;
      color: black;
    }
    .reset {
      &:hover {
        cursor: pointer;
        color: red;
      }
    }
    .next {
      &:hover {
        cursor: pointer;
        color: cyan;
      }
    }
  }
}
