.container {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: Arial, "Helvetica Neue", sans-serif;
}

.content-pane {
  padding: 10px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  canvas {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }
}

.control-pane {
  position: absolute;
  right: 0px;
  bottom: 0px;
  .keys {
    position: relative;
    width: 170px;
    height: 110px;
    margin: 6px;
  }
  .arrow {
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .2);
    opacity: 0.6;
    border-radius: 6px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .up {
    left: 60px;
    top: 0px;
  }
  .left {
    left: 0px;
    bottom: 0px;
  }
  .down {
    left: 60px;
    bottom: 0px;
  }
  .right {
    right: 0px;
    bottom: 0px;
  }
}

.option-pane {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;

  .level-choice {
    display: none;
  }

  .level-choice,
  .algo-choice {
    background: white;
    opacity: 0.6;
    mat-form-field {
      width: 120px;
      height: 60px;
      padding: 0px 5px;
    }
  }
}

.banner {
  position: absolute;
  bottom: 0;
  padding: 20px 0px;
  width: 100%;
  background: cadetblue;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  opacity: 0;
  z-index: 0;
  transition: opacity .3s linear;

  &.visible {
    opacity: 0.9;
    z-index: 2;
  }

  .options {
    .icon {
      font-size: 30px;
      margin-top: 3px;
      padding-left: 20px;
      color: black;
    }
    .reset {
      &:hover {
        cursor: pointer;
        color: red;
      }
    }
    .next {
      &:hover {
        cursor: pointer;
        color: cyan;
      }
    }
  }
}
