<div class="container">
  <div class="option-pane">
    <div class="level-choice">
      <mat-form-field>
        <input matInput type="number" step="1" tabindex="1" placeholder="Level"
          [min]="1" [max]="maxLevel" [(ngModel)]="level" (input)="levelChanged($event.target.value)">
      </mat-form-field>
    </div>

    <div class="algo-choice">
      <mat-form-field>
        <mat-select placeholder="Algorithm"
          [value]="mazeChoice" (selectionChange)="alogChanged($event.value)">
          <mat-option *ngFor="let maze of mazeOptions" [value]="maze.id">
            {{maze.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="control-pane">
    <div class="keys">
      <div class="arrow up" (click)="onArrowKey('ArrowUp')"><mat-icon>arrow_upward</mat-icon></div>
      <div class="arrow left" (click)="onArrowKey('ArrowLeft')"><mat-icon>arrow_back</mat-icon></div>
      <div class="arrow down" (click)="onArrowKey('ArrowDown')"><mat-icon>arrow_downward</mat-icon></div>
      <div class="arrow right" (click)="onArrowKey('ArrowRight')"><mat-icon>arrow_forward</mat-icon></div>
    </div>
  </div>

  <div class="content-pane">
    <canvas #canvas></canvas>
  </div>

  <!--div class="banner" [class.visible]="isGameOver">
    <div>Well done!</div>
    <div class="options">
      <mat-icon class="icon reset" aria-label="reset" (click)="restart()" title="Try one more">refresh</mat-icon>
      <mat-icon class="icon next" aria-label="next level" (click)="nextLevel()" title="Next level">arrow_forward</mat-icon>
    </div>
  </div-->
</div>
